body {
  font-family: Arial, sans-serif;
  text-align: center;
}



.mainbackground {
  margin: 0;
  padding: 0;
  background: url('background-for-homescreen.png') no-repeat center top;
  background-size: cover;
  height: 100vh;
}




.creditsscreen {
  margin: 0;
  padding: 0;
  background: url('Credits screen.png') no-repeat center top;
  background-size: cover;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
}

.controlstitle {
  top: 35%;
  left: 75%;
  transform: scale(2);
  position: absolute;


  
}

button {
border-radius: 5px; 
background-color: #60d7f0;
}

button:hover {
background-color: #53b5c9;
border-radius: 5px;
}

.instructionsscreen {
  margin: 0;
  padding: 0;
  background: url('Instructions screen.png') no-repeat center top;
  background-size: cover;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
}

.creditsbutton {
  top: 59%;
  left: 73%;
  transform: scale(1.5);
  position: absolute;
}

.titletextthing {
  top: 19%;
  left: 46.5%;
  transform: scale(2.2);
  position: absolute;
  font-family: 'Righteous', san-serif;
}




.credits {
  top: 63%;
  position: absolute;
  left: 45%;
}

.Backbutton {
  top: 14%;
  left: 6%;
  transform: scale(2);
  position: absolute;
}

.instructionsbutton {
  top: 59%;
  left: 21.1%;
  transform: scale(1);
  position: absolute;
}

.play {
  top: 70%;
  left: 49%;
  position: absolute;
  transform: scale(3);
}


.aim-of-the-gametitle {
  top: 32%;
  left: 19%;
  transform: scale(1.2);
  position: absolute;


  
}

.controls{
  top:65%;
  left:74%;
  position: absolute;
}

.aim-of-the-game {
    top: 65%;
    left: 19%;
    transform: scale(1.2);
    position: absolute;
}
.image-win {
  width: 200px;
  top: 86%;
  left: 16%;
  position: absolute;}

  .image-win img {
  width: 100%;
  height: auto;
}
.creditstitle {
    top: 35%;
    left: 48%;
    position: absolute;
    transform: scale(2);
}

h1 {
  margin-top: 180px;
  color: black;
  font-size: 36px;
  text-shadow: 2px 2px 5px black;
}

@media (display-mode: fullscreen) {
  .play {
    top: 60%;
    position: absolute;
    transform: scale(3);
  }

  .instructionsbutton {
    top: 51%;
    left: 21%;
    transform: scale(1.2);
    position: absolute;
  }

  .creditsbutton {
    top: 51%;
    left: 74%;
    transform: scale(1.5);
    position: absolute;

  }

  .Backbutton {
  top: 12%;
  left: 5%;
  transform: scale(2);
  position: absolute;
}

.credits {
  top: 54%;
  position: absolute;
  left: 45%;
}
.creditstitle {
    top: 30%;
    left: 48%;
    position: absolute;
    transform: scale(2);
}
.controlstitle {
  top: 32%;
  left: 77%;
  transform: scale(2);
  position: absolute;


  
}

.aim-of-the-gametitle {
  top: 32%;
  left: 18%;
  transform: scale(1.4);
  position: absolute;
}
.controls{
  top:60%;
  left:76%;
  position: absolute;
}
  
}
