.startscreen {
  margin: 0;
  padding: 0;
  background: url('background-for-homescreen.png') no-repeat center top;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  text-align: center;
}

.creditsscreen {
  margin: 0;
  padding: 0;
  background: url('Credits screen.png') no-repeat center top;
  background-size: cover;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
}



h1 {
  margin-top: 180px; 
  color: white;
  font-size: 36px;
  text-shadow: 2px 2px 5px black;
}


.titletextthing {
top: 150px;
left: 47%;
scale: 2.5;
position: absolute;  
}



.creditsbutton {
top: 550px;
left: 75%;
scale:1.5 ;  
position: absolute; 
}

.credits {
top: 590px;
position: absolute;
left: 45%;
}

.Backbutton {
top: 130px;
position: absolute;
left: 6%;
scale: 3;
}

.instructionsbutton {
  top: 550px;
  left: 23%;
  scale: 1.5;
  position: absolute;
}

.play {
  top: 500px;
  left: 49%;
 position: absolute;
 scale: 3;
}


